body {
    margin: 0px;
}

header {
    height: 100px;
    background-color: aquamarine;
}

nav {
    height: 100px;
    background-color: brown;
}

main {
    min-height: 1000px;
    background-color: blanchedalmond;
}

aside{
    width: 20%;
    background-color: blueviolet;
    min-height: 1000px;
    float: left;
}

section{
    width: 80%;
    background-color: blue;
    min-height: 1000px;
    float: left;
}

footer {
    height: 100px;
    background-color: rgb(230, 89, 7);
    clear: both;
}